.DivUpload{
    float: left;
    text-align: left;
    border: 1px solid greenyellow;
    margin: 10px 0 0 8px;
    width: 500px;
    display: block;
}

.SelectFile{
    text-align: center;
}
.SelectFile label {
    cursor: pointer;
    background-color: #D5DBDB;
    padding: 6px;
    border-radius: 5px;
    width: 400px;
}
.SelectFile label:hover {
    background-color: #BDC3C7;
}

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}