.DivUpload{
    float: left;
    width: 90%;
    height: 16%;
    max-height: 16%;
}
.DivSelectCSV{
    float: left;
    text-align: center;
    border: 2px solid greenyellow;
    margin: 0;
    width: 35%;
    height: 100%;
    display: block;
}
.SelectFile{ text-align: center; }
.SelectFile label {
    cursor: pointer;
    background-color: #D5DBDB;
    padding: 6px;
    border-radius: 5px;
    width: 80%;
}
.SelectFile label:hover { background-color: #BDC3C7; }

.inputfile{
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.buttonsDiv{
    display: table;
    text-align: center;
    width: 35%;
    height: 100%;
    float: left;
    margin: 0;
}
.errorCSV{
    display: table-cell;
    vertical-align: middle;
    color:  #C80A32;
    font-size: 1.2rem;
    font-weight: 520;
    margin: 0;
    padding: 0;
}
.uploadCSV{
    display: table-cell;
    vertical-align: middle;
}
.uploadCSV button {
    background-color: #F5A803; /* Green */
    border: none;
    color: white;
    padding: 22px 60px;
    margin: 0;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}
.uploadCSV button:hover {
    background-color: white;
    color: #F5A803;
    border: 1px solid #F5A803;
}
.divSeeReport{
    display: table;
    text-align: center;
    width: 30%;
    height: 100%;
    float: left;
    margin: 0;
}
.divSeeReport button {
    background-color: #1A61E6;
    border: 1px solid #1A61E6;
    color: white;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    cursor: pointer;
}
.divSeeReport button:hover {
    background-color: white;
    color: #1A61E6;
}
/* Report */
.DivReport {
    float: left;
    margin: 0; 
    width: 90%;
    height: 84%;
    overflow: auto;
    border: 1px solid rgba(0,0,0,.225);
}
.tittleReport{
    display: table;
    width: 100%;
    max-width: 100%;
    height: 7.8%;
    max-height: 7.8%;;
}
.tittleReport li{
    text-align: left;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.225);
    height: 100%;
    padding-left: 12px;
    font-size: 1.1rem;
    font-weight: bolder;
}
.listReport{
    display: table;
    width: 100%;
    max-width: 100%;
    height: 5.2%;
    max-height: 5.2%;;
}
.listReport li{
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    border: 1px solid rgba(0,0,0,.225);
    padding-left: 12px;
    font-size: 0.8rem;
}